/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@require 'fonts'

*
  font-family 'Inter' !important
  
.home .hero img
  max-width 100%!important
  border-style none

.home .hero .description
  max-width 100%!important

.theme-default-content img
  max-width 90%!important
  max-height 500px!important
  border 3px solid $borderColor