/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$primaryGrassColor = #73D19C
$primaryForestColor = #004C45
$fieldColor = #9bd1a9
$polarColor = #ffffff
$accentColor = darken($primaryGrassColor, 35%)
$textColor = #12181F
$borderColor = #eaecef
$codeBgColor = #1C324A