name: Checks
# Triggered when code is pushed to any branch in a repository
on: push

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    - name: Generate dist
      run: |
        yarn install
        yarn build
        
    - name: "Check dist dir consistency"
      uses: andstor/file-existence-action@v1
      with:
        files: "dist/docs/index.html"
        allow_failure: true # Makes the Action fail on missing files

    - uses: rojopolis/spellcheck-github-actions@0.18.0
      name: Spellcheck
      with:
        config_path: scripts/spellcheck.yaml

  broken_links:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    - name: Generate dist
      run: |
        yarn install
        yarn build
        
        cat > ./dist/index.html << EOF
        <!DOCTYPE html>
        <html>
          <head>
            Local deployment on https://test.merginmaps.com/docs
          </head>
          <body>
            <a href="https://test.merginmaps.com/docs">https://test.merginmaps.com/docs</a>
          </body>
        </html>
        EOF
 
    - name: Set variables
      run: |
        EXCLUDE_LIST=$(cat scripts/broken-link-exceptions.txt)
        echo "EXCLUDE_LIST=$EXCLUDE_LIST" >> $GITHUB_ENV
     
    - name: Check broken links
      uses: ruzickap/action-my-broken-link-checker@v2
      with:
        url: https://test.merginmaps.com
        cmd_params: --buffer-size=8192 --max-connections=10 --color=always --skip-tls-verification --timeout=60 ${{ env.EXCLUDE_LIST }}
        pages_path: ./dist/
        debug: true

  markdown_checks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Find markdown style errors
      run: |
        ./scripts/markdown_style.bash

    - name: Find unreferenced images
      run: |
        ./scripts/unreferenced_images.bash
