name: Checks
# Triggered when code is pushed to any branch in a repository
on: push

jobs:
  markdown_checks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Find markdown style errors
      run: |
        ./scripts/markdown_style.bash
