name: Checks
# Triggered when code is pushed to any branch in a repository
on: push

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Generate dist
      run: |
        yarn install
        yarn build
        
    - name: "Check dist dir consistency"
      uses: andstor/file-existence-action@v1
      with:
        files: "dist/docs/index.html"
        allow_failure: true # Makes the Action fail on missing files

    - uses: rojopolis/spellcheck-github-actions@0.18.0
      name: Spellcheck
      with:
        config_path: scripts/spellcheck.yaml

  broken_links:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Generate dist
      run: |
        yarn install
        yarn build
        
        cat > ./dist/index.html << EOF
        <!DOCTYPE html>
        <html>
          <head>
            Local deployment on https://test.merginmaps.com/docs
          </head>
          <body>
            <a href="https://test.merginmaps.com/docs">https://test.merginmaps.com/docs</a>
          </body>
        </html>
        EOF
 
    - name: Check broken links
      uses: ruzickap/action-my-broken-link-checker@v2
      with:
        url: https://test.merginmaps.com
        cmd_params: --buffer-size=8192 --max-connections=10 --color=always --skip-tls-verification --timeout=40 --exclude=.*twitter.com/lutraconsulting --exclude=https://www.linkedin.com* --exclude=https://docs.github.com* --exclude=.*openstreetmap.org.* --exclude=.*sqlite.org.* --exclude=.*gnu.org.* --exclude=.*github.com/merginmaps/docs/edit/.* --exclude=.*libtiff.org.* # openstreetmap gives 403 for some reason?; mime duplicate parameter name for sqlite.org; TCP address timed out for GNU.org
        pages_path: ./dist/
        debug: true

  markdown_checks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Find markdown style errors
      run: |
        ./scripts/markdown_style.bash

    - name: Find unreferenced images
      run: |
        ./scripts/unreferenced_images.bash
